<div id='login-container'>
  <form action='/sessions' method='POST'>
    <label>
      <span>Email</span>
      <input type='email' name='email' placeholder='admin@example.com' />
    </label>
    <label>
      <span>Password</span>
      <input type='password' name='password' placeholder="example_password" />
    </label>
    <input type='submit' value='Login' />
  </form>
</div>