#users-content {
  margin: auto;
  width: 800px;
  table {
    width: 100%;
  }
  label {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid #CCC;
    border-radius: 0.2rem;
    display: block;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0.25rem 0 0.75rem 0;
    padding: 0.5em;
  }
  #cancel-new-user {
    display: inline-block;
    margin-left: 1rem;
  }
}